@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #ffffff00;
}
::-webkit-scrollbar-thumb {
  background: #ffffff00;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff00;
}
body{
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
/* Displays */
.primary-flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.primary-grid{
  display: grid;
}
/* Alignments and Justifications */
.align-center{
  align-items: center;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.justify-center{
  justify-content: center;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
/* Widths */
.width-content{
  width: max-content;
}
.width-min{
  width: min-content;
}
.width-30{
  width: 30%;
}
.width-40{
  width: 40%;
}
.width-50{
  width: 50%;
}
.width-60{
  width: 60%;
}
.width-70{
  width: 70%;
}
.width-100{
  width: 100%;
}
.width-500{
  width: 500px;
}
/* Heights */
.height-main{
  height: 250px;
}
.height-sml{
  height: 15px;
}
.height-content{
  height: max-content;
}
/* Paddings  */
.padding-sml{
  padding: 10px;
}
.padding-main{
  padding: 25px 30px;
}
/* Margins */
.margin-top{
  margin-top: 40px;
}
.margin-top-extra{
  margin-top: 70px;
}
.margin-t-sml{
  margin-top: 10px;
}
.margin-left{
  margin-left: 40px;
}
.margin-left-extra{
  margin-left: 90px;
}
.margin-right{
  margin-right: 20px;
}
.spacing-l-sml{
  margin-left: 10px;
}
.spacing-r-sml{
  margin: 0px 10px;
}
.margin-bottom{
  margin-bottom: 25px;
}
.margin-bottom-extra{
  margin-bottom: 50px;
}
/* Backgrounds */
.bg-secondary-theme{
  background-color: rgb(58, 58, 58);
}
.bg-white{
  background-color: white;
}
/* Floats */
.float-left{
  float: left;
}
/* Colors */
.whiten{
  color: white;
}
.darken{
  color: rgba(182, 180, 189, 0.2);
}
.darken-mix{
  color: rgba(40, 40, 42, 0.645);
}
.third-font{
  color: rgba(88, 88, 91, 0.69);
}
/* Fonts */
.font-main{
  font-size: 23px;
}
.font-head{
  font-size: 94px;
}
.font-spacing{
  letter-spacing: 2px;
}
.font-roboto{
  font-family: "Roboto", system-ui;
}
.font-playfair{
  font-family: "Playfair Display", system-ui;
}
.font-poppins{
  font-family: "Poppins", serif;
}
/* Positions */
.pos-abs{
  position: absolute;
}
.pos-rel{
  position: relative;
}
.top{
  top: 0%;
}
/* Externals  */
.border-10{
  border-radius: 10px;
}
.cursor-pointer{
  cursor: pointer;
}
.transform-up{
  transform: translateY(-35%);
}
.transform-up-max{
  transform: translateY(-50px);
}
.transform-left{
  transform: translateX(10px);
}
.link-img{
  height: 100px;
  border-radius: 10px;
}
.testimonials-img{
  height: 100px;
  width: 100px;
}
.right-info{
  overflow-y: scroll;
  transform: translateY(5%);
  height: 100vh;
}
/* Actives */
.size-project:hover{
  background-color: rgb(58, 58, 58);
  transition: 0.8s;
}
@media screen and (max-width: 1024px) {
  body{
    overflow: scroll;
  }
  .margin-left-extra{
    margin-left: 0px;
  }
  .left-info{
    width: 100%;
    justify-content: center;
  }
  .right-info{
    width: 100%;
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .info-div{
    justify-content: center;
  }
  .margin-left-extra{
    margin-left: 0px;
  }
  .font-head{
    font-size: 72px; 
    justify-content: center;
  }
  .text-info{
    text-align: center;
  }
}
@media screen and (max-width: 426px) {
  .info-div{
    justify-content: center;
  }
  .margin-left-extra{
    margin-left: 0px;
  }
  .font-head{
    font-size: 65px;
    justify-content: center;
  }
  .text-info {
    max-width: 425px;
    justify-content: center;
    text-align: center;
  }  
}